**/*histories*
**/histories.txt
results/**/slurm/
antigentools.egg-info/

# For now, ignore time-stamped files
data/**/antigen-outputs/*.csv

# Ignore compiled Python files
**/*.pyc

# Claude files
CLAUDE.md
.claude

# Temp stuff for repo cleanup
*_tree.json
*_data.json
*.nwk
*.fasta.log
*.iqtree.log

# Ignore tests for now.
antigentools/tests/
run_tests.py
pytest.ini

# Ignore generated model config files
config_*.json